@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  /* GrayScale */
  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-400: #bdbdbd;
  --color-gray-500: #9e9e9e;
  --color-gray-600: #757575;
  --color-gray-700: #616161;
  --color-gray-800: #424242;
  --color-gray-900: #222222;
  /* OrangeScale */
  --color-orange-50: #fef0e6;
  --color-orange-100: #fccfb0;
  --color-orange-200: #fab88a;
  --color-orange-300: #f89755;
  --color-orange-400: #f78334;
  --color-orange-500: #f56401;
  --color-orange-600: #df5b01;
  --color-orange-700: #ae4701;
  --color-orange-800: #873701;
  --color-orange-900: #672a00;
  /* RedScale */
  --color-red-50: #fdeaea;
  --color-red-100: #fabdbd;
  --color-red-200: #f89d9d;
  --color-red-300: #f47170;
  --color-red-400: #f25555;
  --color-red-500: #ef2b2a;
  --color-red-600: #d92726;
  --color-red-700: #aa1f1e;
  --color-red-800: #831817;
  --color-red-900: #641212;
  /* BlueScale */
  --color-blue-50: #e6f2ff;
  --color-blue-100: #b2d7fe;
  --color-blue-200: #8cc3fe;
  --color-blue-300: #58a8fe;
  --color-blue-400: #3897fd;
  --color-blue-500: #067dfd;
  --color-blue-600: #0572e6;
  --color-blue-700: #0459b4;
  --color-blue-800: #03458b;
  --color-blue-900: #03356a;
  /* Semantic */
  --color-primary-normal: #f56401;
  --color-primary-subtle: #fef0e6;
  --color-label: #000000;
  --color-label-subtle: #424242;
  --color-label-subtler: #9e9e9e;
  --color-label-blue: #067dfd;
  --color-label-red: #ef2b2a;
  /* fill */
  --color-fill-black: #000000;
  --color-fill-gray-200: #eeeeee;
  --color-fill-gray-100: #f5f5f5;
  --color-fill-blue-50: #e6f2ff;
  --color-fill-red-50: #fdeaea;
  /* Background */
  --color-background: #ffffff;
  --color-background-subtle: #f5f5f5;
  --color-background-subtler: #fafafa;
  --color-background-divider: #eeeeee;
  /* TEXT */
  /* Display */
  --text-display-xl: 36px;
  --text-display-xl--line-height: 1.3;
  --text-display-xl--font-weight: 700;

  --text-display-lg: 28px;
  --text-display-lg--line-height: 1.3;
  --text-display-lg--font-weight: 700;

  /* heading */
  --text-heading-lg: 22px;
  --text-heading-lg--line-height: 1.4;
  --text-heading-lg--font-weight: 600;

  --text-heading-md: 18px;
  --text-heading-md--line-height: 1.4;
  --text-heading-md--font-weight: 600;

  /* Title */
  --text-title-lg: 16px;
  --text-title-lg--line-height: 1.5;
  --text-title-lg--font-weight: 600;

  --text-title-md: 15px;
  --text-title-md--line-height: 1.5;
  --text-title-md--font-weight: 500;

  /* Heading */
  --text-heading-1: 22px;
  --text-heading-1--line-height: 28px;
  --text-heading-1--font-weight: 600;

  --text-heading-2: 20px;
  --text-heading-2--line-height: 28px;
  --text-heading-2--font-weight: 600;

  --text-heading-3: 18px;
  --text-heading-3--line-height: 28px;
  --text-heading-3--font-weight: 600;

  /* Body */
  --text-body-1-semibold: 16px;
  --text-body-1-semibold--line-height: 20px;
  --text-body-1-semibold--font-weight: 600;

  --text-body-1-medium: 16px;
  --text-body-1-medium--line-height: 20px;
  --text-body-1-medium--font-weight: 500;

  --text-body-1-regular: 16px;
  --text-body-1-regular--line-height: 20px;
  --text-body-1-regular--font-weight: 400;

  --text-body-2-semibold: 14px;
  --text-body-2-semibold--line-height: 20px;
  --text-body-2-semibold--font-weight: 600;

  --text-body-2-medium: 14px;
  --text-body-2-medium--line-height: 20px;
  --text-body-2-medium--font-weight: 500;

  --text-body-2-regular: 14px;
  --text-body-2-regular--line-height: 20px;
  --text-body-2-regular--font-weight: 400;

  /* Label */
  --text-label-1-semibold: 12px;
  --text-label-1-semibold--line-height: 16px;
  --text-label-1-semibold--font-weight: 600;

  --text-label-1-medium: 12px;
  --text-label-1-medium--line-height: 16px;
  --text-label-1-medium--font-weight: 500;

  --text-label-1-regular: 12px;
  --text-label-1-regular--line-height: 16px;
  --text-label-1-regular--font-weight: 400;

  --text-label-2-semibold: 11px;
  --text-label-2-semibold--line-height: 16px;
  --text-label-2-semibold--font-weight: 600;

  --text-label-2-medium: 11px;
  --text-label-2-medium--line-height: 16px;
  --text-label-2-medium--font-weight: 500;

  --text-label-2-regular: 11px;
  --text-label-2-regular--line-height: 16px;
  --text-label-2-regular--font-weight: 400;

  /* Caption */
  --text-caption-md: 12px;
  --text-caption-md--line-height: 1.5;
  --text-caption-md--font-weight: 400;

  --text-caption-sm: 11px;
  --text-caption-sm--line-height: 1.5;
  --text-caption-sm--font-weight: 400;

  /* Badge */
  --text-badge: 12px;
  --text-badge--line-height: 1;
  --text-badge--font-weight: 500;

  /* Button */
  --text-button-md: 14px;
  --text-button-md--line-height: 1;
  --text-button-md--font-weight: 600;

  --text-button-sm: 12px;
  --text-button-sm--line-height: 1;
  --text-button-sm--font-weight: 600;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-1: 4px;
  --radius-2: 8px;
  --radius-3: 12px;
  --radius-4: 16px;
  --radius-5: 20px;
  --radius-6: 24px;
  --radius-7: 28px;
  --shadow-1: var(--shadow-1);
  --font-suit: 'Suit';
}

:root {
  --radius: 0.625rem;
  --shadow-1: 0 0px 8px rgba(0, 0, 0, 0.08);
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

/* .dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: oklch(0.985 0.002 247.839);
  --card: oklch(0.21 0.034 264.665);
  --card-foreground: oklch(0.985 0.002 247.839);
  --popover: oklch(0.21 0.034 264.665);
  --popover-foreground: oklch(0.985 0.002 247.839);
  --primary: oklch(0.928 0.006 264.531);
  --primary-foreground: oklch(0.21 0.034 264.665);
  --secondary: oklch(0.278 0.033 256.848);
  --secondary-foreground: oklch(0.985 0.002 247.839);
  --muted: oklch(0.278 0.033 256.848);
  --muted-foreground: oklch(0.707 0.022 261.325);
  --accent: oklch(0.278 0.033 256.848);
  --accent-foreground: oklch(0.985 0.002 247.839);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
} */

@layer base {
  * {
    @apply border-border outline-ring/50 font-suit;
  }
  body {
    @apply bg-white text-foreground font-suit;
  }
}

@font-face {
  font-family: 'Suit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2')
    format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Suit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2')
    format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Suit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2')
    format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Suit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Suit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Suit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2')
    format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Suit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Suit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2')
    format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Suit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2')
    format('woff2');
  font-weight: 900;
  font-display: swap;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .containerLayout {
    padding-top: 52px;
  }

  .font-suit {
    font-family:
      'Suit',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      sans-serif;
  }
  /* Display */
  .text-display-xl {
    font-size: var(--text-display-xl);
    line-height: var(--text-display-xl--line-height);
    font-weight: var(--text-display-xl--font-weight);
  }

  .text-display-lg {
    font-size: var(--text-display-lg);
    line-height: var(--text-display-lg--line-height);
    font-weight: var(--text-display-lg--font-weight);
  }

  /* Heading */
  .text-heading-lg {
    font-size: var(--text-heading-lg);
    line-height: var(--text-heading-lg--line-height);
    font-weight: var(--text-heading-lg--font-weight);
  }

  .text-heading-md {
    font-size: var(--text-heading-md);
    line-height: var(--text-heading-md--line-height);
    font-weight: var(--text-heading-md--font-weight);
  }

  /* Title */
  .text-title-lg {
    font-size: var(--text-title-lg);
    line-height: var(--text-title-lg--line-height);
    font-weight: var(--text-title-lg--font-weight);
  }

  .text-title-md {
    font-size: var(--text-title-md);
    line-height: var(--text-title-md--line-height);
    font-weight: var(--text-title-md--font-weight);
  }

  /* Body */
  .text-body-1-semibold {
    font-size: var(--text-body-1-semibold);
    line-height: var(--text-body-1-semibold--line-height);
    font-weight: var(--text-body-1-semibold--font-weight);
  }

  .text-body-1-medium {
    font-size: var(--text-body-1-medium);
    line-height: var(--text-body-1-medium--line-height);
    font-weight: var(--text-body-1-medium--font-weight);
  }

  .text-body-1-regular {
    font-size: var(--text-body-1-regular);
    line-height: var(--text-body-1-regular--line-height);
    font-weight: var(--text-body-1-regular--font-weight);
  }

  .text-body-2-semibold {
    font-size: var(--text-body-2-semibold);
    line-height: var(--text-body-2-semibold--line-height);
    font-weight: var(--text-body-2-semibold--font-weight);
  }

  .text-body-2-medium {
    font-size: var(--text-body-2-medium);
    line-height: var(--text-body-2-medium--line-height);
    font-weight: var(--text-body-2-medium--font-weight);
  }

  .text-body-2-regular {
    font-size: var(--text-body-2-regular);
    line-height: var(--text-body-2-regular--line-height);
    font-weight: var(--text-body-2-regular--font-weight);
  }

  /* Label */
  .text-label-1-semibold {
    font-size: var(--text-label-1-semibold);
    line-height: var(--text-label-1-semibold--line-height);
    font-weight: var(--text-label-1-semibold--font-weight);
  }

  .text-label-1-medium {
    font-size: var(--text-label-1-medium);
    line-height: var(--text-label-1-medium--line-height);
    font-weight: var(--text-label-1-medium--font-weight);
  }

  .text-label-1-regular {
    font-size: var(--text-label-1-regular);
    line-height: var(--text-label-1-regular--line-height);
    font-weight: var(--text-label-1-regular--font-weight);
  }

  .text-label-2-semibold {
    font-size: var(--text-label-2-semibold);
    line-height: var(--text-label-2-semibold--line-height);
    font-weight: var(--text-label-2-semibold--font-weight);
  }

  .text-label-2-medium {
    font-size: var(--text-label-2-medium);
    line-height: var(--text-label-2-medium--line-height);
    font-weight: var(--text-label-2-medium--font-weight);
  }

  .text-label-2-regular {
    font-size: var(--text-label-2-regular);
    line-height: var(--text-label-2-regular--line-height);
    font-weight: var(--text-label-2-regular--font-weight);
  }

  /* Caption */
  .text-caption-md {
    font-size: var(--text-caption-md);
    line-height: var(--text-caption-md--line-height);
    font-weight: var(--text-caption-md--font-weight);
  }

  .text-caption-sm {
    font-size: var(--text-caption-sm);
    line-height: var(--text-caption-sm--line-height);
    font-weight: var(--text-caption-sm--font-weight);
  }

  /* Badge */
  .text-badge {
    font-size: var(--text-badge);
    line-height: var(--text-badge--line-height);
    font-weight: var(--text-badge--font-weight);
  }

  /* Button */
  .text-button-md {
    font-size: var(--text-button-md);
    line-height: var(--text-button-md--line-height);
    font-weight: var(--text-button-md--font-weight);
  }

  .text-button-sm {
    font-size: var(--text-button-sm);
    line-height: var(--text-button-sm--line-height);
    font-weight: var(--text-button-sm--font-weight);
  }
}

@layer components {
  .toast-base {
    background-color: var(--normal-bg);
    color: var(--normal-text);
    border: 1px solid var(--normal-border);
  }
  .toast-success {
    --normal-bg: #064e3b;
    --normal-text: #d1fae5;
    --normal-border: #059669;
  }

  .toast-info {
    --normal-bg: #eff6ff;
    --normal-text: #1e40af;
    --normal-border: #60a5fa;
  }

  .toast-warning {
    --normal-bg: #fffbeb;
    --normal-text: #92400e;
    --normal-border: #facc15;
  }

  .toast-error {
    --normal-bg: #fef2f2;
    --normal-text: #991b1b;
    --normal-border: #f87171;
  }
}
